@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #6b6b6b transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
